<h1><%= pluralize(@projects.size, 'Project') %></h1>
<ul>
<%= @projects.each do |project| %>
  <li><%= link_to project.name, project %></li>
  <li><%= project.description %></li>
  <li><%= project.target_pledge_amount %></li>
  <li><%= project.pledging_ends_on %></li>
  <li><%= project.website %></li>

<% end %>
</ul>
