<ul>
 <li><%= @project.name %></li>
  <li><%= @project.description %></li>
  <li><%= @project.target_pledge_amount %></li>
  <li><%= @project.pledging_ends_on %></li>
  <li><%= @project.website %></li>
</ul>
<%= link_to "All Projects", projects_path %>